<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h1>Search the directory</h1>
    <form method="get">
        <input type="text" name="q" id="id_q" placeholder="Search Database" />
        <input type="submit" placeholder="Search!"/>
    </form>

    <h2>List of all blood banks, clinics and hospitals from search query.</h2>
    {% if query %}
        <ul>
            {% for obj in query %}
            <li> <a href= {{ obj.url }} > {{ obj }} </a> {{obj.phone_number}}  {{obj.pincode}} </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No entries present</h3>
    {%endif%}
</body>
</html>
