<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <script src="https://kit.fontawesome.com/61161d2963.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
</head>
<body>
<h1>System Search</h1>
    <form method="get">
        <div class="wrapper">
            <input type="text" class="input" name="q" id="id_q" placeholder="Search Database....">
            <div class="searchbtn" >
                {% load static %}
                <input type="image" alt="search" src="{% static '/images/active-search.png' %}"/>
            </div>
        </div>
    </form>
<div class="para">
    <p>Click Search to show the complete list.</p>
</div>


</body>
</html>
