<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
    <h1>Search the directory</h1>
    <h2>List of all blood banks, clinics and hospitals.</h2>
    {% if all_hospitals%}
        <ul>
            {% for hospital in all_hospitals %}
            <li> <a href= {{ hospital.url }} > {{ hospital }} </a> {{hospital.phone_number}}  {{hospital.pincode}} </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No entries present</h3>
    {%endif%}
</body>
</html>
