    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles2.css' %}">
    </head>
    <body>
        <h1>Search Results</h1>
        <form method="get">
        <div class="wrapper">
            <input type="text" class="input" name="q" id="id_q" placeholder="Search Database....">
            <div class="searchbtn" >
                {% load static %}
                <input type="image" alt="search" src="{% static '/images/active-search.png' %}"/>
            </div>
        </div>
    </form>
        <div class="results">
            <div class="objects menu">
            {% if query %}
                <ul>
                    {% for obj in query %}
                    <li> <a href= {% url 'details' obj.hospital_id %} > {{ obj }} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; +{{obj.phone_number}} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; {{obj.pincode}} </a> </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>No entries present</h3>
            {%endif%}
            </div>
        </div>
    </body>
    </html>
